.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}

.flexContainer {
  display: flex;
  gap: 20px; 
  align-items: flex-end; 
}


.resultText {
  margin-left: 10px;
  font-size:10px;
}

.inputKelly {
  width: 120px;
}

.scrollable {
  width: 100%; 
  overflow-x: auto;
  max-height: 100%; 
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
}

.tableWrapper {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

.table {
  table-layout: auto;
  width: auto;
}

.thMatches{
  min-width: 140px; 
  max-width: 140px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thOdd, .tdInput {
  min-width: 100px;
  max-width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tdInput input {
  width: 100%;
}

.rowSelected {
  background-color: #f5f5f5;
}

.nonEditableRow {
  background-color: #f0f8f0;
}

.highlightOdd1 {
  border: 2px solid green;
}

.checkboxChecked input[type="checkbox"]:checked {
  border-color: #f5f5f5; 
}

.checkboxChecked {
  display: inline-block;
}
